body{
	font:0.75em Arial;
	padding-top: 50px;
}
a{
	color: slategrey;
}

.button{
	background-color: #ccc;
	color: #333;
	text-decoration: none;
	padding:5px 10px;
	border-radius: 3px;
	display: inline;
	border:1px solid #aaa;
	border-bottom: 2px solid #aaa;
}

.cookie-banner{
	display: none;
	background-color: gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.cookie-banner .container{
	margin:0 auto;
	width: 70%;
	color: white;
	padding:15px;
}
.cookie-banner .container .a{
	color: blue;
}