body{
	background-color: #EDEEF0;
	z-index: -1px;
	margin-top: 20px;
	padding-top: 50px;
	min-height: 500px;
}


/*side-navigator css*/
.card {
	margin:0;
	top: 113px;
	left: 0;	
	background-color: #EDEEF0;
	border: none;
	position: fixed;
	width: 250px;
}
.card li{
	padding:5px;
	list-style-type: none;
	text-decoration: none;
	margin:5px;
}
.card li:hover{
	background-color: #D5DBDB;
	border-radius: 3px;

}
/*side-navigator page Css - ENDS */

/*POSTS CSS here*/
.post-layer{
	/*background-color: black;
	color:white;*/
	
	border-radius: 5px;
	border:1px solid  #FFFFFF;
	padding: 1x;
	margin-bottom: 10px;
}

.post-header{
	background-color:red ;
}

/*POST CSS ENDS HERE*/

/*Profile Page CSS start*/
.profile-image-layer{
	padding:0px;
}
.profile-image{
	border-radius: 100%;

}
.avatar{
	width: 100%;
	height:100%;
	border-radius: 10px;
	padding: 20 0px;
	border:2px solid #FFFFFF;
}
.profile-layer{
	max-height: 233px;
	min-height: 233px;
}
.posts-layer{
	background-color: orange;
	margin-top: 20px;
	min-height: 300px;
}
.fri-com{
	background-color: white;
	margin-top: 0px;
	min-height: 100px;
}
.post-display{
	padding-bottom: 60px;
	min-height: 200px;
}
textarea{
	resize: none;
}


/*Profile Page CSS ENDS*/



/*START- This layout for, POSTS-CATEGORY-EDIT PROFILE, 
MESSAGE, COMMUNIIES, PHOTO VIDEO -->*/
.row .main-layer{
	background-color: white;
	border-radius: 3px;
	border: 1px solid #F8F9F9;
	margin:0px;
	margin-bottom: 20px;
}

.nav-link:hover{
	background-color: #F8F9F9 ;

}
/*ENDS This layout for, POSTS-CATEGORY-EDIT 
PROFILE, MESSAGE, COMMUNIIES, PHOTO VIDEO END-->*/

/*Banner right side */
.banner-layer{
	background-color: yellow;
	padding:0px;

}
/*
Banner Ends */